# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Temporary / data files
vectorstore_*/
*.tmp

# IDE files
.vscode/
.idea/
